{% load cms_tags sekizai_tags menu_tags i18n %}
{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% render_block "css" %}
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

    {% block extra_css %}
    {% endblock %}
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% cms_toolbar %}

<div class="container">
    <div class="header clearfix">

            <center>
                <a rel="home" title="Ecole Francaise de Vo Dan Toc" href="/">
                    <img src="{% static 'image/site0.jpg' %}" alt=""/>
                </a></center>

    </div>


{% block menu %}
    <div class="navbar clearfix navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% show_menu 0 100 100 100 %}
{#            <li><a href="{% url 'zinnia_entry_archive_index' %}">Blog</a></li>#}
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">
                    {% trans "Sitemap" %}
                </a>
            </li>
            <li>
                <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}"
                   class="feeds">
                    {% trans "RSS Feed" %}
                </a>
            </li>
        </ul>
    </div>
    </div>
{% endblock %}
<ol class="breadcrumb">
    {% if  request.current_page.level == 0 %}
        <li  class="active">
           {{ request.current_page |capfirst }}
        </li>
    {% else %}
    {% show_breadcrumb 1 %}
    {% endif %}
</ol>
  <div class="content">
{% block content %}{% endblock %}
  </div>
{% render_block "js" %}

</div>

</body>
</html>
