{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
    <div class="row">
            <div class="col-lg-8">
{#            <h1 class="text-center">{{ request.current_page|capfirst }}</h1>#}
                <div class="panel panel-default">
                    <div class="panel-body">
                    {% placeholder content %}
                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                    {% placeholder sidebar %}

            </div>
        </div>
{% endblock %}
