{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

        <h1 class="text-center">{{ request.current_page|capfirst }}</h1>

        <div class="base_content panel panel-default">
            <div class="panel-body">
            {% placeholder base_content %}
            </div>
        </div>

{% endblock %}
