{% load i18n menu_tags %}
{% load url from future %}
{% load static from staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Vo dan toc</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="cache-control" content="public"/>
    <meta name="robots" content="follow, all"/>
    <meta name="language" content="{{ LANGUAGE_CODE }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="{% block meta-description %}{% trans "Just another Zinnia weblog." %}</p>{% endblock %}"/>
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock %}"/>
    <meta name="author" content="Fantomas42"/>
    {% block meta %}{% endblock %}
    <link rel="pingback" href="/xmlrpc/"/>
{#    <link rel="shortcut icon" href="{{ STATIC_URL }}zinnia/img/favicon.ico"/>#}
    <link rel="home" href="{% url 'zinnia_entry_archive_index' %}"/>
{#    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/screen.css"/>#}
{#    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}zinnia/css/print.css"/>#}
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

    {% block link %}{% endblock %}
    {% block script %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
</head>
<body>

<div class="container">
     <div class="header clearfix">

            <center>
                <a rel="home" title="Ecole Francaise de Vo Dan Toc" href="/">
                    <img src="{% static 'image/site0.jpg' %}" alt=""/>
                </a></center>

    </div>
    <nav class="navbar clearfix navbar-default">
{#        <a class="navbar-brand" href="{% url 'zinnia_entry_archive_index' %}">Blog</a>#}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            {% show_menu 0 100 100 100 %}
        </ul>
{#        <ul class="nav navbar-nav navbar-right">#}
{##}
{#            <li class="">#}
{#                <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap">#}
{#                    {% trans "Sitemap" %}#}
{#                </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="{% url 'zinnia_entry_latest_feed' %}" title="{% trans "RSS Feed of latest entries" %}"#}
{#                   class="feeds">#}
{#                    {% trans "RSS Feed" %}#}
{#                </a>#}
{#            </li>#}
{#        </ul>#}

        <form class=" navbar-form navbar-right recherche"  method="get" action=
                "{% url 'zinnia_entry_search' %}" role="search" >
                <div class="form-group">
                    <input class="form-control" type="text" value="{% trans "Keywords..." %}" name="pattern">
                </div>
                <button type="submit" class="btn btn-default" >Recherche</button>

        </form>

    </div>
</nav>

{% block breadcrumbs %}{% endblock %}
    <div class="content">
        <div class="row">
            <div class="col-lg-8">

                <div class="panel">
                    {% block content %}
                        <div class="links">
                            <h3>{% trans "Useful links" %}</h3>
                            <ul>
                                <li>
                                    <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Weblog index" %}">
                                        {% trans "Weblog index" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
                                        {% trans "Sitemap" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <h3>{% trans "Search" %}</h3>
                            {% include "zinnia/tags/search_form.html" %}
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="col-lg-4">
                {% block sidebar %}
                {% endblock %}

            </div>
        </div>
        {% block slider %}{% endblock %}


    </div>
</div>
</body>
</html>
