{% load comments i18n %}
{% load url from future %}
<form role="form" class="form-horizontal" action="{% comment_form_target %}" method="post" id="comment-form">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Post your comment" %}</legend>

    <input type="hidden" name="next" value="{% url 'zinnia_comment_success' %}"/>
    {% for field in form %}

    {% if field.is_hidden %}{{ field }}{% else %}
    {% if user.is_authenticated and field.name in "namemailurl" %}{% else %}
    <div class="form-group{% if field.errors %} error{% endif %}"{% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
      <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
      {% if field.errors %}{{ field.errors }}{% endif %}
    <div class="col-sm-10">
      {{ field }}
    </div>
    </div>

    {% endif %}
    {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <p class="auth">
      {% trans "Comment as" %} <strong>{% firstof user.get_full_name user.username %}</strong>. <a href="{% url 'admin:logout' %}">{% trans "Log out" %}</a>.
    </p>
    {% endif %}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" name="submit" class="btn btn-default" value="{% trans "Post" %}" />
      <input type="submit" name="preview" class="btn btn-default" value="{% trans "Preview" %}" />
    </div>
  </div>
  </fieldset>
</form>
