@font-face {
    font-family: "super font";
    src: url('http://127.0.0.1:8000/static/font/htf1bkup.TTF');
}
body {
    font-size: 13pt;
    background-color: #DEDEDE;
}
p {
    margin-bottom: 10pt;
    margin-top: 10pt;
}
.container {
    background-color: #ffffff;


}
.text-souligne{
    text-decoration: underline;
}
.content {
    padding-right: 10pt;
    padding-left: 10pt;
}
/*img {*/
    /*margin-bottom: 15pt;*/
    /*margin-top: 15pt;*/
/*}*/
.header {
    font-family: "super font", Helvetica, Arial, sans-serif;
    text-align: center;
    margin-bottom: auto;
    margin-left: auto;
    color: #ffffff;
    word-spacing: 6pt;
    /*background-color: #000000;*/
    background-color: #987548;
    height: 120px;
    line-height:100px;
}
.menu{
    /*font-family: "super font", Helvetica, Arial, sans-serif;*/
    /*font-size: 15pt;*/
    /*font-style: italic;*/
    /*letter-spacing: 3px;*/
    /*font-weight: bold;*/
    /*margin-bottom: 5px;*/

}
.navbar .nav > li > a {
    padding: 5px 15px;

}
.nav{
    margin: 0 15px;


}
.navbar {

    margin-bottom: 0;
    min-height: 0;
    padding: 0;
}
.header a:hover, a:focus {
    text-decoration:none;
    color: #000000;
    vertical-align:middle;
}

.carousel a:focus {
    outline: none;
}

.carousel .item {
    margin-right: auto;
    margin-left: auto;

    text-align: center;;

}
