
{% load cms_tags sekizai_tags staticfiles %}
{% load thumbnail %}

    <div id="showcase" class="carousel slide" data-interval="{{ instance.interval }}">
        <ol class="carousel-indicators">
            {% for slide in instance.carousel.slide_set.all %}
            <li data-target="#showcase" data-slide-to="{{ forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for slide in instance.carousel.slide_set.all %}
            <div class="item {% if forloop.first %}active{% endif %}">
    {#            <img src="{{ slide.image.url }}" alt="">#}
                <img src="{% thumbnail slide.image 800x600 crop="True" upscale="True"%}" alt="">
                <div class="carousel-caption">
                    <h2>{{ slide.title }}</h2>
                    {{ slide.text|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
      <a class="left carousel-control" href="#showcase" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#showcase" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>



