{% load i18n thumbnail sekizai_tags cms_tags %}
{% load static from staticfiles %}
{% addtoblock "css" %}<link href="{% static 'lightbox/css/lightbox.css'%}" rel="stylesheet" />{% endaddtoblock "css" %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'lightbox/js/lightbox-2.6.min.js' %}"></script>{% endaddtoblock "js" %}
{% addtoblock "js" %}

{% endaddtoblock %}


<h1>{% firstof object.title object.folder.name  %}</h1>

{% if object.view_option == "list" %}
    <div class="cmsplugin_filer_folder_list" id="folder_{{ instance.id }}">
        <!--The files should go there    -->
        {% if folder_children %}
        <p>{% trans "Folders" %}</p>
        <ul>
            {% for folder in folder_children %}
                <li>{{ folder }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_files %}
        <p>{% trans "Files" %}</p>
        <ul>
            {% for files in folder_files %}
                <li>{{ files }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if folder_images %}

            {% for image in folder_images %}
                {% if forloop.counter0|divisibleby:3 %}
                <div class="row">
                {% endif%}
                <div class="col-lg-3">

                    <a href="{{ image.file.url }}" data-lightbox="image" class="thumbnail text-center">
                       <img src="{% thumbnail image.file 200x200 crop="True" upscale="True"%}"
                                           width="200" height="200" alt="{{ image.label }}">
                    </a>

                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                {% endif%}
            {% endfor %}

        {% endif %}
    </div>

{% elif  object.view_option == "carousel"%}

{% with  '123456789azertyuio'|random as p %}
<center>
<div id="showcase{{ p }}" class="carousel slide" data-interval="10000">
    <ol class="carousel-indicators">
        {% for slide in folder_images %}
        <li data-target="#showcase{{ p }}" data-slide-to="{{ forloop.counter0}}"
            {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for image in folder_images %}
        <div class="item {% if forloop.first %}active{% endif %}">
            <img src="{% thumbnail image 800x600 crop="True" upscale="True"%}" alt="">
            <div class="carousel-caption">
                <h2>{{ image.name|safe}} </h2>
                {{ image.description|default_if_none:""|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
  <a class="left carousel-control" href="#showcase{{ p }}" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#showcase{{ p }}" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
</center>
<script>
$(document).ready(function(){
  $('#showcase{{ p }}').carousel('cycle');
});

</script>
{% endwith %}
{% else %}
    <!-- start: slideshow -->
    <div class="cmsplugin_filer_folder_slidshow" id="folder_{{ object.id }}">
        {% for image in folder_images %}
            <img src="{% thumbnail image.file 200x200 crop="True" upscale="True" %}">
        {% endfor %}
    </div>
    <!-- end: gallery -->
{% endif %}
