
{% for ance in ancestors %}

    {% if not ance.selected %}
             <li>
                {{ ance.get_menu_title|capfirst }}
             </li>
    {% else %}
        <li class="active"> {{ ance.get_menu_title|capfirst }} </li>
    {% endif %}

{% endfor %}
