{% load menu_tags %}

{% for child in children %}

    <li class="{% if child.selected %}active{% endif %}{% if child.ancestor %}active{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}{% endif %}{% if child.children %} dropdown{% endif %}">
        <a {% if child.children %}class="dropdown-toggle" data-toggle="dropdown"{% endif %}
           href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title|capfirst }}
                {% if child.children %}<b class="caret"></b>{% endif %}</a>
        {% if child.children %}
            <ul class="dropdown-menu">
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}

            </ul>
        {% endif %}
    </li>

{% endfor %}

