{% load easy_maps_tags %}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
{% block extra_css %}

{% endblock %}

{% regroup salles|dictsort:"ville" by ville as salles_villes %}
{% for salles_ville in salles_villes %}
    <h3>{{ salles_ville.grouper }}</h3>
{% with forloop.counter as c %}
    <div class="panel-group salle" id="accordion{{ c }}" >



    {% for salle in salles_ville.list %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{ c }}" href="#{{ salle.id }}"> <b><u>{{ salle.nom }}</u></b> : {{ salle.adresse_plain|safe }}
                    <span class="glyphicon glyphicon-plus-sign"></span>
                 </a>
                </h4>
            </div>
                <div id="{{ salle.id }}" class="panel-collapse collapse {% if forloop.first %}{% endif %}">
                    <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <address>
                            Adresse :
                            {{ salle.adresse|safe }}
                            </address>
                            Horaire :
                            {{ salle.horaire|safe }}
                            <p>
                                Professeur{% if salle.professeurs.count > 1 %}s{% endif %} : <br/>

                                {% for professeur in salle.professeurs.all %}
                                      -  {{ professeur.prenom|capfirst }} <strong>{{ professeur.nom|capfirst }}</strong><br/>
                                    {% if professeur.email %}email : {{ professeur.email }}{% endif %}<br/>
                                    {% if professeur.tel %}Téléphone : {{ professeur.tel }}{% endif %}<br/>
                                {% endfor %}


                            </p>
                        </div>
                        <div class="col-lg-6">
                            <div class="google-map-canvas" id="maps_{{ salle.pk }}" style="height: 100%">
                            {% with salle.adresse_plain as adresse %}
                            {% easy_map adresse 400 300 13 %}
                            {% endwith %}
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        {% endfor %}
    {% endwith %}
    </div>
{% endfor %}
<script>
    $(document).ready(function(){
       $(".panel-collapse").each(function(){
           $(this).bind('shown.bs.collapse', function(){
                $('#maps_'+ $(this).attr('id')).children('.test_maps').each(function(){
                    var id = $(this).attr('id').replace('map-canvas-', '');

                    eval('initialize_map_'+ id +'()');
                });
                });
           });
    });
</script>


